
.lista-lenguajes-tec li{
    
    text-align: center;
    border-radius: 5px;
    flex-shrink: 0;
    font-size: 25px; 
    padding: 20px 0 20px 0;
    margin: 25px;
    background:linear-gradient(to right top, rgb(255, 255, 255),rgb(236, 182, 182),rgb(233, 155, 155));;

}
